<!DOCTYPE html>
<html>
  <%- include('../partials/head',{
    title : 'Login'
  }) %>
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="form-container">
        <div class="nav-menu">
        <div class="register-premise">
          <p class="premise">Bienvenid@ a la familia</p>
        </div>
        <div class="box-login">
          <p>¿Ya tenés cuenta? <a href="/users/login">Inicia Sesión</a></p>
        </div>
      </div>
      <div class="register-form">
          <h4 class="register-title">Registrate</h4>
          <!-- Formulario para registrarse -->
          <form class="access-form" method="POST">
            <!-- input Nombre Completo -->
            <div class="mb-3">
              <label for="name">Nombre</label>
                                  <input type="text" id="name" name="name" placeholder="Ingresá tu nombre" value="<%= locals.old && old.name ? old.name : null %>" class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>">
                                  <small id="name-error" class="text-danger ms-2" ><%= (locals.errors && errors.name) ? errors.name.msg : null %></small>
            </div>
            <div>
              <label for="name">Apellido</label>
                                  <input type="text" id="surname" name="surname" placeholder="Ingresá tu apellido" value="<%= locals.old && old.surname ? old.surname : null %>" class="form-control <%= locals.errors && errors.surname ? 'is-invalid' : null %>">
                                  <small id="surname-error" class="text-danger ms-2" ><%= (locals.errors && errors.surname) ? errors.surname.msg : null %></small>
            </div>
            <!-- input Email -->
            <div class="mb-3">
              <label for="email" class="form-label">Correo</label>
              <input type="text" id="email" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" name="email" placeholder="Ingresá tu email" value="<%= locals.old && old.email ? old.email : null %>">
                                  <small id="email-error" class="text-danger ms-2" ><%= (locals.errors && errors.email) ? errors.email.msg : null %></small>
            </div>
            <!-- input Contraseña -->
            <div class="mb-3">
              <label for="pass" class="form-label">Contraseña</label>
              <input type="password" id="pass" name="pass" placeholder="Ingrese una contraseña" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                                  <small id="pass-error" class="text-danger ms-2" ><%= (locals.errors && errors.pass) ? errors.pass.msg : null %></small>
            </div>
            <div class="field-group">
              <label for="pass2">Reingrese la contraseña</label>
              <input type="password" id="pass2" name="pass2" placeholder="Reingrese la contraseña" class="form-control <%= locals.errors && errors.pass2 ? 'is-invalid' : null %>">
              <small id="pass2-error" class="text-danger ms-2" ><%= (locals.errors && errors.pass2) ? errors.pass2.msg : null %></small>
  
            </div>
            <button type="submit" class="btn btn-outline-dark">Registrarme</button>
          </form>
        </div>
      </div>
      </main>
      <%- include('../partials/footer') %>
    </body>
  </html>